name: Release

on:
  push:
    branches:
      - main
jobs:
  name: Release
  runs-on: ubuntu-latest
  permissions:
    contents: write

  steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v6
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
